@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    #title {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza o texto horizontalmente */
        text-align: center;  /* Centraliza o texto dentro do elemento */
        margin: 0 auto;      /* Garante que o container do título esteja centralizado */
    }
    
    #title h1 {
        font-size: 56px;
        margin: 0;
    }
    
    .subtitle {
        font-style: italic;
        font-weight: 200;
        font-size: 48px; /* Ajuste o tamanho se necessário */
    }
    #Inscreva-se-btn {
        display: inline-block;
        border: 2px solid #ac0395;    /* Cor da borda */
        border-radius: 20px;  
    }

   
    

    nav ul {
        flex-direction: row; /* Empilhar os links de navegação */
        gap: 15px;
       
    }

    main {
        flex-direction: column; /* Empilhar conteúdo principal */
        align-items: center;
    }

    h2 {
        font-size: 28px; /* Diminuir tamanho do subtítulo */
    }

    .container, .dov, .lista {
        width: 100%; /* Expandir para ocupar toda a largura da tela */
        float: none;
    }

    .dov img {
        width: 100%; /* Ajustar imagem para a largura da tela */
        height: auto;
    }

    form {
        width: 100%; /* Deixar o formulário responsivo */
    }

    input[type="text"],
    input[type="email"],
    input[type="submit"] {
        width: 100%; /* Expandir campos de entrada para 100% da largura */
        font-size: 16px; /* Ajuste do tamanho da fonte */
    }
}